.cont{
    width:50%;
    position:absolute;z-index: 100;
    border: 1px solid #ddd;
    background: #fff;
    margin-left:25%;
    border-radius: 5px;
    box-shadow: 0 0 0 #ddd;
    display:none;
}
.cont1{
    width:25%;
    position:absolute;
    z-index: 100;
    border: 1px solid #ddd;
    margin-left:40%;
    margin-top:5%;
    border-radius: 5px;
    box-shadow: 0 0 0 #ddd;
    display:none;
}
.cont2{
    width:50%;
    position:absolute;z-index: 100;
    border: 1px solid #ddd;
    background: #fff;
    margin-left:25%;
    border-radius: 5px;
    box-shadow: 0 0 0 #ddd;
    display:none;
}
.contno{
    width:25%;
    position:absolute;
    z-index: 100;
    border: 1px solid #ddd;
    margin-left:40%;
    margin-top:5%;
    border-radius: 5px;
    box-shadow: 0 0 0 #ddd;
    display:none;
}
.cont1 button{
    margin-bottom: 10px;
}
  /*组织机构树 begin*/
 .opation .add,.resh,.sea,.delt{
     margin:15px 0 15px 25px;
     border:0;
     border-radius: 5px;
     background:#ddd;
 }
.opation>.text{
    position: absolute;
    margin-left:30%;
    background:#f5f6f6;
    top:-10px;
}
.opation>.text>span{
    padding:20px;
}
.opation .btns{
    border: 1px solid #ddd;
    height:20%;
}
.add-btn>button{
    margin:10px 0;
}
.add-btn>button:first-child{
    margin-right:10px;
    margin-left:30%;
}
.btns2>form>div{
    margin-bottom:10px;
    margin-left:8px;
}
.btns2>form>div>input{
    width:60%;
}
/*content*/
.class{
    border:1px solid red;
}
.potions1 table{
    width:705px;
    height:450px;
    border:0;
    margin-top:10px;
}
.potions1 table tr{
    border:1px dashed #000;
}
.potions1 table tr td:first-child{
     border:1px dashed #000;
     text-align: left;
 }
.potions1 table tr td:last-child {
    border: 1px dashed #000;
    text-align: left;
}
.box-body1>ul{
    border-left:1px dashed #000;
}
.box-body1>ul>li>b{
    border-bottom: 1px dashed #000;
}
.box-body1 ul li{
    list-style: none;
}
.box-body1 ul li a{
 text-decoration: none;
}


.contclient{
    width:50%;
    position:absolute;z-index: 100;
    border: 1px solid #ddd;
    background: #fff;
    margin-left:25%;
    border-radius: 5px;
    box-shadow: 0 0 0 #ddd;
    display:none;
}

.contsing{
    width:25%;
    position:absolute;
    z-index: 100;
    border: 1px solid #ddd;
    background: cornflowerblue;
    margin-left:40%;
    margin-top:5%;
    border-radius: 5px;
    box-shadow: 0 0 0 #ddd;
    display:none;
}

.error-span{
    color: #ff0000;
}

.start-span{
    color: #ff0000;
    font-size: 14px;
    margin-left: 5px
}
.plist tr td:first-child{
    width:30%;
}
.plist1 tr td:first-child{
    width:10%;
}
.plist2 tr td,th{
    text-align: center;
   vertical-align: middle;
}
.plist2 tr td:first-child{
    width:8%;
}
.plist2 input[type="checkbox"]{
    border-radius: 50%;
    color:red;
}
.plist tr td>span{
    color:red;
}
.tabs>li{
     list-style: none;
     float:left;
     padding:10px 20px;
 }
.tabs>li>a{
    text-decoration: none;
}
.active1{
    border:1px solid #ddd;
    color:#000;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}
.clear{
    clear:both;
}
.out {
    border-top:60px #EFEFEF solid;/*上边框宽度等于表格第一行行高*/
    width:0px;/*让容器宽度为0*/
    height:0px;/*让容器高度为0*/
    border-left:100px #d0d0d0 solid;/*左边框宽度等于表格第一行第一格宽度*/
    position:relative;/*让里面的两个子容器绝对定位*/
}
b {
    font-style:normal;
    display:block;
    position:absolute;
    top:-50px;
    left:-60px;
    width:55px;
}
em {
    font-style:normal;
    display:block;
    position:absolute;
    top:-20px;
    left:-90px;
    width:55px;
}